{% extends "survey/survey_menu.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Select survey" %}</h1>

    <p>
        {% translate "Please select the survey you would like to complete." %}
        {% translate "Have your receipt number ready." %}
    </p>

    {% if survey_list_name_asc %}
    <ul>
    {% for survey in survey_list_name_asc %}
        <li><a href="{% url 'survey:detail' survey.id %}">{{ survey }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>{% translate "No surveys available." %}</p>
    {% endif %}
{% endblock content %}
