{% extends "survey/survey_menu.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Completed surveys" %}</h1>

    <p>
        {% translate "Below is a list of the surveys you have completed." %}
        {% translate "In order to go to the preview of selected answers, press the proper link." %}
    </p>

    {% if user_responses %}
        <ol>
        {% for response in user_responses %}
            <li><p>
                {% translate "bill number"|capfirst %}: {{ response.bill_no }}<br>
                {% translate "survey"|capfirst %}: {{ response.survey }}<br>
                <a href="{% url 'survey:results' response.id %}">{% translate "Show answers" %}</a>
            </p></li>
        {% endfor %}
        </ol> 
    {% else %}
        <p>{% translate "You did not complete any survey." %}</p>
    {% endif %}
    
{% endblock content %}
