{% extends "survey/survey_menu.html" %}
{% load custom_template_tags %}

{% block content %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <!-- Import D3 Scale Chromatic via CDN -->
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <h1>Statystyki ankiety</h1>
    <p class="lead"><b>Tytuł:</b> {{ survey }}</p>
    <div class="container" id="chart-container" style="width: 600px; height: 600px;">
        <script type="text/javascript">
            const borderWidth = 1;
            const colorScale = d3.interpolateWarm;
            const colorRangeInfo = {
                colorStart: 0,
                colorEnd: 1,
                useEndAsStart: false,
            }; 

            var rgb_colors = interpolateColors({{ survey.surveyquestion_set.all|length }}, colorScale, colorRangeInfo);
            var rgba_colors = [];

            for (let color of rgb_colors) {
                new_color = color.replace(/rgb/i, "rgba");
                new_color = new_color.replace(/\)/i,',0.2)');

                rgba_colors.push(new_color);
            }
        </script>

        {% for survey_question in survey.surveyquestion_set.all %}
        <p>
        <canvas id="chart{{ forloop.counter }}-canvas"></canvas>
        <a download='chart' href="#" class="btn btn-dark btn-sm disabled" id="chart{{ forloop.counter }}-url">Pobierz wykres w PNG</a>
        
        <script type="text/javascript">
            const data{{ forloop.counter }} = {
                labels: [
                    {% for question_stats in stats_list %}{% if survey_question.question == question_stats.question_answer.question %}
                    '{{ question_stats.question_answer.answer }}',
                    {% endif %}{% endfor %}
                ],
                datasets: [
                    {
                    data: [
                    {% for question_stats in stats_list %}{% if survey_question.question == question_stats.question_answer.question %}
                        {{ question_stats.count }},
                    {% endif %}{% endfor %}
                    ],
                    borderColor: rgb_colors,
                    borderWidth: borderWidth,
                    backgroundColor: rgba_colors,
                    },
                ]
            };

            const config{{ forloop.counter }} = {
                type: 'pie',
                data: data{{ forloop.counter }},
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: true,
                            text: '{{ survey_question.question }}'
                        },
                        legend: {
                            display: true,
                            position: 'top',
                        },
                    },
                    animation: {
                        onComplete: function() {
                            var base64 = this.toBase64Image();
                            $("#chart{{ forloop.counter }}-url").attr("href", base64).removeClass("disabled");
                        }
                    },    
                },
            };
            $( document ).ready(function() {
                var ctx = $("#chart{{ forloop.counter }}-canvas").get(0).getContext("2d");
                new Chart(ctx, config{{ forloop.counter }});
            });
        </script>
        </p>
        {% endfor %}
    </div>
{% endblock content %}
