{% extends "survey/survey_menu.html" %}
{% load custom_template_tags %}

{% block content %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <!-- Import D3 Scale Chromatic via CDN -->
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <h1>Statystyki ankiety</h1>
    <p class="lead"><b>Tytuł:</b> {{ survey.name }}</p>
    <div class="container" id="chart-container" style="max-width: 600px; max-height: 600px;">

        <div class="select-container">
            <label for="reference">Dane dla grupy:</label>
            <select class="custom-select" name="reference" id="reference">
                <option value="0">brak</option>
                {% for qa in rp_question_answers %}
                <option value="{{ qa.id }}">{{ qa.question }}: {{ qa.answer }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-container">
            <label for="chart-type">Typ wykresów:</label>
            <select class="custom-select" name="chart-type" id="chart-type">
                <option value="pie" selected>Kołowy</option>
                <option value="doughnut">Pierścieniowy</option>
                <option value="bar">Kolumnowy</option>        
            </select>
        </div>

        <script type="text/javascript">
            $("#reference").change(function() {
                let referenceValue = $(this).val();
                console.log(referenceValue);

                if (referenceValue == 0){
                    window.location = "{% url 'survey:stats' survey_id=survey.id %}";
                } else {
                    window.location = "{% url 'survey:reference_stats' survey_id=survey.id reference_id=0 %}".replace(/0/, referenceValue);
                }
                           
            });

            {% if reference_id %}
            $("#reference").val({{ reference_id }});
            {% endif %}
        </script>

    {% for title, labels, data in zipped_data %}
        {% if forloop.first %}
        <!-- Charts config -->
        <script type="text/javascript">
            const borderWidth = 1;
            const colorScale = d3.interpolateWarm;
            const colorRangeInfo = {
                colorStart: 0,
                colorEnd: 1,
                useEndAsStart: false,
            }; 

            var rgb_colors = interpolateColors({{ max_len }}, colorScale, colorRangeInfo);
            var rgba_colors = [];

            for (let color of rgb_colors) {
                new_color = color.replace(/rgb/i, "rgba");
                new_color = new_color.replace(/\)/i,',0.2)');

                rgba_colors.push(new_color);
            }

            var ctx = [];
            var data = [];
            var options = [];
            var charts = [];

            function setSelectedChartType() {
                let chartType = $("#chart-type").val();

                for (let i = 0; i < ctx.length; i++) {
                    if (i in charts) {
                        if(charts[i].config.type === chartType) {
                            continue;                            
                        }
                        charts[i].destroy();
                    }  

                    switch(chartType) {
                        case 'bar':
                            options[i].plugins.legend.display = false;
                            options[i].scales.y.display = true;
                            options[i].scales.y.grid.display = true;

                            if('x' in options[i].scales) {
                                options[i].scales.x.display = true;
                                options[i].scales.x.grid.display = true;
                            }
                            
                            break;
                        case 'pie':
                        case 'doughnut':
                            options[i].plugins.legend.display = true;
                            options[i].scales.y.display = false;
                            options[i].scales.y.grid.display = false;

                            if('x' in options[i].scales) {
                                options[i].scales.x.display = false;
                                options[i].scales.x.grid.display = false;
                            }

                            break;
                    }             

                    charts[i] = new Chart(ctx[i], {
                        type: chartType,
                        data: data[i],
                        options: options[i]
                    });
                }
            }

            $("#chart-type").change(setSelectedChartType);
        </script>
        {% endif %}
    
    <canvas id="chart{{ forloop.counter0 }}-canvas"></canvas>
    <a download='chart' href="#" class="btn btn-dark btn-sm disabled" id="chart{{ forloop.counter0 }}-url">Pobierz wykres w PNG</a>
    
    <script type="text/javascript">
        $(document).ready(function() {
            ctx[{{ forloop.counter0 }}] = $("#chart{{ forloop.counter0 }}-canvas").get(0).getContext("2d");

            data[{{ forloop.counter0 }}] = {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        data: {{ data|safe }},
                        borderColor: rgb_colors,
                        borderWidth: borderWidth,
                        backgroundColor: rgba_colors
                    }
                ]
            };
            options[{{ forloop.counter0 }}] = {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: '{{ title|safe }}'
                    },
                    legend: {
                        display: true,
                        position: 'top',
                    }
                },
                scales: {
                    y: {
                        display: false,
                        min: 0,
                        ticks: {                            
                            stepSize: 1
                        },
                        grid: {
                            display: false
                        }
                    }
                },
                animation: {
                    onComplete: function() {
                        var base64 = this.toBase64Image();
                        $("#chart{{ forloop.counter0 }}-url").attr("href", base64).removeClass("disabled");
                    }
                }  
            };

            setSelectedChartType();
        });
                    
    </script>
    {% empty %}
    <div class="alert alert-dark" role="alert"><b>Brak danych do przedstawienia na wykresach.</b><br>Brak odpowiedzi na wybraną ankietę.</div>
    {% endfor %}
    </div>
{% endblock content %}
